*{
    padding:0;
    margin:0;
}
header{
    background-color:black;
    height: 80px;
    width:100%;
    position:relative;
}                            
h1{
    color:red;
}
header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
    background-image: url();
}
h1{
    position:absolute;
    left: 60px;
    top:0;
    line-height:80px;
    background-image:url()
    background-repeat:no-repeat;
    background-position:center;
    width:180px;
}
header li{
    display: inline;
}   
head a {
    color:white;
    text-decoration:none;
}
header a:hover {
    text-decoration:underline;
}
.news{
    background-color: antiquewhite;
}